<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - Yhun Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="bg-contact">
    {% include 'header.html' %}
    <main>
        <div class="container" align="left" >
            <h2>Contact Me</h2>
            <p>If you'd like to get in touch, feel free to email me by clicking the button below:</p>
            <a href="mailto:yhunalene@gmail.com" class="btn">Here</a>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
